@use "../abstracts/" as *;

.login,
.registration{
    @include flex($justify:center,$align:center);
    height: 100%;
}
.wrapper {
    @include flex($direction:column, $align:center,$gap: 15px);
    width: 30%;
    height: 88%;
    background-color: $fourth-color;
    border-radius: 10px;
    padding: 2% 4% 9% 4%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    @include mobile {
        width: 80%;
        height: 75%;
    }
    @include tablet {
        width: 50%;
        height: 90%;
    }
    &__top {
        width: 95%;
        text-align: center;
        @include flex($direction:column,$align: center,$gap:40px);
        &-logo{
            width:50%;
        }
        img {
            width: 40%;
            @include tablet {
                width: 40%;
            }
        }
        @include mobile {
            margin-top: 10px;
            width:70%;
            gap: 20px;
        }
        @include tablet {
            margin-top: 50px;
            gap: 30px;
        }
        figcaption{
            @include flex($direction:column);
        }
        &-primary {
            @include font($primary-font,16px,700);
            @include tablet {
                @include font($primary-font,14px,700);
            }
            @include mobile {
                @include font($primary-font,12px,700);
            }
        }
        &-secondary {
            @include font($primary-font,13px,400);
            color: $secondary-color;
            @include tablet {
                @include font($primary-font,12px,700);
            }
        }
    }
    &__form {
        width: 100%;
        gap: 10px;
        margin-top: 30px;
        @include flex($direction:column);
        @include mobile {
            width: 85%;
            margin-top: 0;
        }
        @include tablet {
            width: 90%;
        }
        &__box:nth-child(1),
        &__box:nth-child(2) {
            input{
                border-radius: 5px;
            }
        }
        &__box{
            width: 100%;
            @include flex($direction:column);
            gap: 3px;
            @include font($secondary-font,14px,400);
            color: $text;
            &-input{
                width: 100%;
                padding: 3%;
                border-radius: 8px 0 0 8px;
                border: 1px solid rgba(0,0,0,0.3);
                outline: none;
            }
            &-input::placeholder{
                @include font($primary-font,13px,700);
            }
            .passwordfield{
                width: 100%;
                @include flex($justify:center,$align:center);

                input{
                    border-right: none; 
                    border-radius: 8px 0 0 8px;
                }
                figure{
                    height: 100%;
                    @include flex($justify:center,$align:center);
                    border:1px solid rgba(0,0,0,0.3) ;
                    border-left: none;
                    padding: 1%;
                    border-radius: 0 8px 8px 0;
                    outline: none;
                }
            }
        }

        &__question {
            margin-top: 10px;
            margin-bottom: 15px;
            @include flex($justify:space-between,$align:center);
            @include font($primary-font,12px,600);
            @include tablet {
                @include font($primary-font,11px,700);
            }
            &-pass{
                color: $primary-color;
                text-decoration: underline;
            }
            &__box{
                @include flex($align: center);
                gap: 5px;
                input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    height: 10px;
                    width: 10px;
                    background-color: $fourth-color;
                    border-radius: 2px;
                    cursor: pointer;
                    outline: none;
                    border: 1px solid $secondary-color;
                    @include tablet {
                        width: 10px;
                        height: 10px;
                    }
                }
                label {
                    cursor: pointer;
                }

                input[type="checkbox"]:hover {
                    background-color: $fourth-color;
                }
                input[type="checkbox"]:checked {
                    background-color: $third-color;
                    border: none;
                }
                input[type="checkbox"]:checked:after {
                    display: block;
                    @include flex($align:center,$justify: center);
                    font-family: "Font Awesome 6 Free";
                    content: "\f00c";
                    font-weight: 900;
                    font-size: 8px;
                    color: $fourth-color;
                    padding-top: 1px;
                    @include tablet {
                        font-size: 10px;
                    }
                }

            }
        }
        &-log,
        &-reg {
            @include button(100%,40px,$third-color,5px,none,0px);
            @include font($primary-font,15px,700);
            @include color($fourth-color);
            @include mobile {
                @include button(100%,30px,$third-color,5px,none,0px);
                @include font($primary-font,12px,700);
            }
        }
        &-reg {
            margin-top: 10px;
        }
        &__bottom,
        &__bottoms {
            width: 100%;
            @include flex($justify:space-between);
            @include tablet {
                width: 85%;
            }
            &--text {
                @include font($primary-font,11px,600);
                &-link{
                    color: $primary-color;
                    text-decoration: underline;
                }
                @include mobile {
                    @include font($primary-font,10px,600);
                }
            }
            @include mobile {
                width: 85%;
            }
        }
        &__bottom {
            margin-top: 50px;
        }
        &__bottoms {
            margin-top: 30px;
        }   
    }
}